In [4]:
import pandas as pd
df=pd.DataFrame( {'Id':['161E90','161E90','161F99','171E20','171G30'],'Name':['Raman','Raman','Jaya','Tejas','Ajay'],'Age':[40,30,50,30,40],'Salary':[50000,60000,80000,50000,40000]})
df

       Id   Name  Age  Salary
0  161E90  Raman   40   50000
1  161E90  Raman   30   60000
2  161F99   Jaya   50   80000
3  171E20  Tejas   30   50000
4  171G30   Ajay   40   40000

In [5]:
a=True
while(a):
    print('Enter 1 for searching by age')
    print('Enter 2 for searching by Name')
    print('Enter 3 for searching by Salary')
    print('Enter 4 to exit')
    b=int(input())
    if b==1:
        c=int(input('Enter the age'))
        print(df[df['Age']==c])
    elif b==2:
        d=input('Enter Name')
        print(df[df['Name']==d])
    elif b==3:
        c=int(input("Enter Salary"))
        d=input("Enter (>, <, <=, >=)")
        if d=='>':
            print(df[df['Salary']>c])
        if d=='<':
            print(df[df['Salary']<c])
        if d=='>=':
            print(df[df['Salary']>=c])
        if d=='<=':
            print(df[df['Salary']<=c])
        if d=='=':
            print(df[df['Salary']==c])
    else:
        a=False

Enter 1 for searching by age
Enter 2 for searching by Name
Enter 3 for searching by Salary
Enter 4 to exit
       Id  Name  Age  Salary
2  161F99  Jaya   50   80000
Enter 1 for searching by age
Enter 2 for searching by Name
Enter 3 for searching by Salary
Enter 4 to exit